<div>
  <%# 記事が存在する場合 %>
  <% if(page.posts && page.posts.length){ %>
    <% page.posts.forEach(function (post, i) {　%>
      <article class="post">
        <a href="<%- url_for(post.path) %>" class="post-link">
          <% if(post.thumbnail) { %>
            <div class="post-l-panel">
              <img src="<%- url_for(post.path) %><%= post.thumbnail %>" class="post-thumbnail" />
            </div>
          <% } else { %>
            <div class="post-l-panel">
              <div class="post-thumbnail">NO IMAGE</div>
            </div>
          <% } %>
          <div class="post-r-panel">
            <div class="post-time">
              <time class="post-date" datetime="" title="">
                <%- date(post.date,"YYYY年MM月DD日") %>
              </time>
            </div>
            <div class="post-head">
                <h2 class="post-title">
                  <%- post.title %>
                </h2>
            </div>
            <p class="post-content">
                <% if(post.excerpt) { %>
                    <%= strip_html(post.excerpt) + '…' %>
                <% } else { %>
                    <%= truncate(strip_html(post.content), {length: 200, separator: ''}) %>
                <% } %>
            </p>
          </div>
        </a>
        <div class="post-tags">
          <% if (post.tags && post.tags.length){ %>
            <%- list_tags(post.tags, {
              show_count: false,
              class: 'article-tag'
            }) %>
          <% } %>
        </div>
      </article>
    <% }) %>
  <% } else { %>
    <p class="no-post">投稿された記事はありません。</p>
  <% } %>
</div>