<div class="article-container">
  <%# 記事が存在する場合 %>
  <% if(page.posts && page.posts.length){ %>
    <% page.posts.forEach(function (post, i) {　%>
      <article class="post">
        <a href="<%- url_for(post.link) %>" class="post-link">
          <div class="post-head">
              <h2 class="post-title">
                <%- post.title %>
              </h2>
          </div>
          <p class="post-content">
              <% if(post.excerpt) { %>
                  <%= strip_html(post.excerpt) + '…' %>
              <% } else { %>
                <% if(i == 0) { %>
                  <%= truncate(strip_html(post.content), {length: 120, separator: ''}) %>
                <% } else { %>
                  <%= truncate(strip_html(post.content), {length: 60, separator: ''}) %>
                <% } %>
              <% } %>
          </p>
          <div class="post-time">
            <time class="post-date" datetime="" title="">
              <%- date(post.date,"YYYY年MM月DD日") %>
            </time>
          </div>
        </a>
      </article>
    <% }) %>
  <% } else { %>
    <p>投稿された記事はありません。</p>
  <% } %>
</div>