<div>
  <%# 記事が存在する場合 %>
  <% if(page.posts && page.posts.length){ %>
    <% page.posts.forEach(function (post, i) {　%>
      <article class="post">
        <!-- <% if(post.thumbnail) { %>
          <div class="post-l-panel">
            <img src="<%- url_for(post.path) %><%= post.thumbnail %>" class="post-thumbnail" />
          </div>
        <% } else { %>
          <div class="post-l-panel">
            <div class="post-thumbnail">NO IMAGE</div>
          </div>
        <% } %> -->
        <div class="post-r-panel">
          <div class="post-time">
            <%- partial('_partial/post/date', {class_name: 'article-date', date_format: null, post:post}) %>
          </div>
          <div class="post-head">
              <h2 class="post-title">
                <a href="<%- url_for(post.path) %>" class="post-link">
                  <%- post.title %>
                </a>
              </h2>
          </div>
          <p class="post-content">
              <% if(post.excerpt) { %>
                  <%= strip_html(post.excerpt) + '…' %>
              <% } else { %>
                  <%= truncate(strip_html(post.content), {length: 100, separator: ''}) %>
              <% } %>
          </p>
        </div>
        <div class="post-tags">
          <%- partial('_partial/post/tag', {show_count: false, class: 'article-tag', post:post}) %>
        </div>
      </article>
    <% }) %>
  <% } else { %>
    <p class="no-post">投稿された記事はありません。</p>
  <% } %>
</div>