<!-- ページ全体のレイアウトを設定します -->
<!DOCTYPE html>
<html lang="ja">
  <!-- Head tag -->
  <%- partial('_partial/head', {page: page}) %>

  <body>
    <div class="container">
      <!-- header -->
      <% if( page.layout ) { %>
        <%- partial('_partial/header_min', null, {cache: !config.relative_link}) %>
      <% } else { %>
        <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
      <% } %>
      <!-- main column -->
      <% if ( page.layout ){ %>
      <div class="contents header_min">
      <% } else { %>
      <div class="contents">
      <% } %>
        <%- body %>
      </div>
    </div>
    <!-- footer -->
    <%- partial('_partial/footer') %>
    <!-- load js -->
    <script src="/js/fontawesome-all.min.js" async></script>
  </body>

</html>