<article id="<%= post.layout %>-<%= post.slug %>" class="article post" itemscope itemprop="blogPost">
  <div class="article-inner">
    <!-- <%- partial('post/gallery') %> -->
    <!-- パンくず -->
    <div class="article-pnkz">
      <%- partial('post/category') %>
    </div>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
    <% if( post.title ){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'post-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
        <%- post.content %>
    </div>
    <footer class="article-footer">
      <div class="article-share-link">
        <a href="http://b.hatena.ne.jp/entry/<%- post.permalink %>" class="article-share _hatebu" target="_blank" title="Hatebu"><img src="/images/hatenabookmark-logomark.svg" alt="はてなブログ" class="fa-hatebu"></a>        
        <a href="https://twitter.com/intent/tweet?url=<%- post.permalink %>" class="article-share _twitter" target="_blank" title="Twitter"><i class="fab fa-twitter sns-ic"></i></a>
        <a href="https://www.facebook.com/sharer.php?u=<%- post.permalink %>" class="article-share _facebook" target="_blank" title="Facebook"><i class="fab fa-facebook sns-ic"></i></a>
        <a href="https://plus.google.com/share?url=<%- post.permalink %>" class="article-share _google" target="_blank" title="Google+"><i class="fab fa-google-plus-g sns-ic"></i></a>
        <a href="https://social-plugins.line.me/lineit/share?url=<%- post.permalink %>" class="article-share _line" target="_blank" title="LINE"><i class="fab fa-line sns-ic"></i></a>
      </div>
      <!-- <%- partial('post/tag') %> -->
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>