<footer class="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      <div>
        <a href="<%- theme.github_url %>" class="ic-github" target="_blank"><i class="fab fa-github sns-ic"></i></a>
        <a href="<%- theme.twitter_url %>" target="_blank"><i class="fab fa-twitter sns-ic"></i></a>
        <!-- <i class="fab fa-facebook sns-ic"></i></p> -->
        <% if (theme.rss){ %>
          <a href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>" target="_blank">
            <i class="fas fa-rss-square sns-ic"></i>
          </a>
        <% } %>
      </div>
      <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %></p>
    <!-- <div>
      <a href="#top"><i class="fas fa-3x fa-chevron-circle-up"></i></a>
    </div> -->
  </div>
</footer>